version: "3.8"

services:
    web: 
      build: .
      command: python manage.py runserver 0.0.0.0:8000
      env_file:
        - .env
      environment:
        DB_HOST: ${DB_HOST}
        DB_PORT: ${DB_PORT}
        ALGORITHM: ${ALGORITHM}
        SECRET-KEY: ${SECRET_KEY}
      volumes:
        - .:/app
      ports:
        - "8000:8000"
      depends_on:
        - db
    
    db:
      image: postgres:16
      environment:
        POSTGRES_NAME: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      volumes:
        - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: